#bmqyQQGroupMemberBox {
    width: 280px;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px 15px 20px 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0 #ccc;
}

#bmqyQQGroupMemberBox select{border:1px solid #ddd;line-height:20px;height:20px;outline:none;}
#bmqyQQGroupMemberBox input[type=checkbox]{width:14px;height:14px;-webkit-appearance:none;border:1px solid #ccc;line-height:14px;outline:none;vertical-align:middle;position: relative;}
#bmqyQQGroupMemberBox input[type=checkbox]:checked{background-color:#fff;}
#bmqyQQGroupMemberBox input[type=checkbox]:disabled{background-color:#eee;}
#bmqyQQGroupMemberBox input[type=checkbox]:checked::after{content:"";display:block;width:4px;height:8px;border:0;border-bottom:1px solid #999;border-right:1px solid #999;border-top:transparent;border-left:transparent;transform:rotateZ(45deg);position:absolute;top:0;left:4px;}
#bmqyQQGroupMemberBox #btnCloseBmqyQQGroup{width:100%;height:5px;position:absolute;bottom:0;left:0;background-color:#007acc;font-size:10px;text-align:center;transition:height 0.3s,background-color 0.3s;}
#bmqyQQGroupMemberBox #btnCloseBmqyQQGroup:hover{height:10px;background-color:#7fbce5;}
#btnOpenBmqyQQGroup{width:80px;height:80px;position:fixed;top:30px;right:30px;}
#btnOpenBmqyQQGroup.hide{display:none;}
#btnOpenBmqyQQGroup .button{width:80px;height:80px;line-height:80px;}
#btnOpenBmqyQQGroup .button .iconLogo{width:80px;height:80px;background:url(https://raw.githubusercontent.com/bmqy/one-click-export-of-qq-group/master/images/icon_128x128.png) center no-repeat;background-size:60px;display:inline-block;line-height:80px;}
#bmqyQQGroupMemberBox .title{font-size: 14px;font-weight: 600;position:relative;}
#bmqyQQGroupMemberBox .subTitle{font-size: 12px;color:#999;font-weight: normal;}
#bmqyQQGroupMemberBox #qrcodeWrap{width:14px;height:14px;position:absolute;top:3px;right:0;}
#bmqyQQGroupMemberBox #qrcodeIcon{width:14px;height:14px;display: block;cursor:help;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABF0lEQVQ4T3XSvyvGURQG8M+rSPkLKNQrJBO7XyvFYmG1GA2MSjIoWRSrxSK/3oFCMdgUm0EoZVI2SZGiq/vV7ev73uUOz3nOc55znhJ6MOb/O0AdRgqwnRKWcIenpKAxNgz4NZ4TrAXtGXELc2iLTZYxjYBvYBHNuME6JlNiUB7HXmySElcitov5PHEtevrGVE5xM476gZk88TbxUc4RHxOsKyMOYKhgcxfRY18Bdh48ViOeoh79kXiPfcziJF1OtVG3UYsHdKMV5ZS4igZ8Rn/ZVo/QiaCYqf+OGs4Q7lh0jlBcwUviswMTRQEICVqIquF/j+cZxBku03NUi9wXrtAUI/mKv8j1YrRg5YeowTCO8RbTE0orP5j5SLGZMDRhAAAAAElFTkSuQmCC);}
#bmqyQQGroupMemberBox #qrcodeCont{background-color:#fff;display:none;position:absolute;right:0px;top:15px;width:200px;border:1px solid #e6e6e6;border-radius:5px;box-shadow:0 0 1px 0 #ccc;}
#bmqyQQGroupMemberBox #qrcodeCont img{width:100px;height:100px;}
#bmqyQQGroupMemberBox #qrcodeWrap:hover #qrcodeCont{display:block;}
#bmqyQQGroupMemberBox #qrcodeWrap span{display:inline-block;text-align:center;color:#999;font-weight:normal;}
#bmqyQQGroupMemberBox p{font-size:12px;line-height: 28px;}
#bmqyQQGroupMemberBox fieldset{margin-top:10px;padding:10px;border:1px solid #ddd;}
#btnStartBmqyQQGroupExport{margin-top:10px;}
#showResult{width:100px;height:30px;line-height:30px;font-size:12px;color:#888;text-align:right;overflow:hidden;position:absolute;bottom:15px;right:15px;}